@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
  font-family: "Open Sans", sans-serif;
  max-width: auto;
  margin: auto;
  margin-top: 20px;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.footer {
  background: linear-gradient(to right, #188365e0, #06251cdf);
  margin-top: 70px;
  padding: 0% 0;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 48%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #a3ca94;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
  flex-wrap: wrap;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: auto;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  color: #bbbbbb;
  display: flex;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 7px;
}
.footer-col .social-links {
  display: flex;
}

.footer-col .social-links ul {
  display: flex;
  align-items: center;
}

.footer-col .social-links ul li {
  margin-right: 15px;
}

.footer-col .social-links ul li:last-child {
  margin-right: 0;
}
