@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");
#root {
  width: 1536px;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  max-width: 1536px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.div-car-title h1 {
  text-align: center;
  font-family: "Afacad", sans-serif;
}
.div-car-title .carousel {
  justify-content: center;
}
.container {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
